* {
  margin: 0;
  padding: 0;
}

.rest-div {
  background-image: linear-gradient(to bottom right, #3A86FF, #FF006E);
}

.home-intro {
  background-image: url("../assets/miamiHome.jpg");
  height: 90vh;
  background-size: cover;
  background-position: center center;
}

nav {
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

ul li {
  padding: 12px 18px;
  list-style: none;
  display: inline-block;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.7s;
}

ul li:hover::after {
  width: 100%;
}

.welcome-text { 
  margin-top: 10%;
  margin-left: 6%;
  color: white;
}

h1 {
  font-family: "Barlow Semi Condensed",sans-serif;
}

.welcome-text h1 {
  font-size: 60px;
  font-weight: 600;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 5%;
  padding: 30px 0;
}

.choices .card {
  transition: 0.5s;
  width: 400px;
}

.choices .hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translate(-100%);
  transition: 1s;
}

.choices .show {
  filter: blur(0);
  opacity: 1;
  transform: translateX(0);
}

.card:hover {
  transform: scale(1.1);
}

#choices-h1 {
  padding-top: 20px;
  text-align: center;
}

.choices-div h1 {
  font-weight: 700;
  color: white;
}

#b1 {
  transition-delay: 100ms;
}

#b2 {
  transition-delay: 200ms;
}

#third-title {
  font-weight: 700;
  text-align: center;
  padding: 2% 0 1%;
  position: relative;
  display: inline-block;
}

#third-title::after {
  content: "";
  width: 100%;
  height: 10px;
  background: #3A86FF;
  margin: auto;
  display: block;
}

.attractions-title {
  display: flex;
  justify-content: center;
}

#attractions-text {
  text-align: center;
}

.my-buttons button {
  margin: 5px;
  width: 200px
}

.my-buttons {
  display: flex;
  flex-direction: column;
}

.my-buttons button:focus {
  background-color: white;
  color: #3A86FF;
}

.little-demo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  margin-bottom: 2%;
}

.interactive-text {
  width: 400px;
}

@media (max-width: 1200px) {
  .welcome-text h1 {
    font-size: 45px;
  }

  .welcome-text h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 500px) {
  nav img {
    width: 100px;
    height: 70px;
  }

  .home-intro nav ul li {
    padding: 12px 14px;
    font-size: 13px;
  }
  nav ul {
    padding-left: 0;
  }
  
  .welcome-text h2 {
    padding-right: 5px;
  }

  .little-demo {
    flex-wrap: wrap;
  }

  .choices .card {
    width: 175px
  }

  .choices .card p {
    display: none;
  }

  .little-demo img {
    width: 300px;
  }

  .my-buttons button {
    font-size: 14px;
  }

  .little-demo p {
    padding: 10px 20px;
  }
}