.card {
    transition: none;
}

.card img {
    height: 250px;
}

.card a {
    padding-top: auto;
}

.card:hover {
    transform: none;
}

.card .cardButton {
    background-color:#0d6efd;
    border-color: #0d6efd;
    color: white;
    width: 150px;
}

.card .cardButton:hover {
    color: #0d6efd;
    border-color: #0d6efd;
}

@media (max-width: 1200px) {
    .card img {
        height: 200px;
    }
}

@media (max-width: 500px) {
    .card img {
        height: 100px;
    }

    .card p{
        font-size: 14px;
    }

    .card a {
        font-size: 12px;
    }

    .card .cardButton {
        width: 130px;
        font-size: 12px;
    }
}