.card {
    transition: none;
}

.card img {
    height: 250px;
}

.card a {
    padding-top: auto;
}

.card:hover {
    transform: none;
}

@media (max-width: 1200px) {
    .card img {
        height: 200px;
    }
}